<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'../dashboard'">Home</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </div>
    </div>
  </div>
<div class="col-md-10 center-block">

  <input class="hidden-input" type="file" (change)="fileSelected($event)" #fileInput>
  <div class="container">
      <img id="user-image" src="{{imageURL}}">
    <div class="middle">
      <div (click)="fileInput.click()" class="upload-button"><i class="fa fa-upload"></i></div>
    </div>
  </div>

  <div id="fullname">
    <h3 class="title">{{user?.name}} {{user?.surname}}</h3>
    <h6>{{user?.username}}</h6>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <span class="title-header"><i class="fa fa-envelope"></i>: </span><span class="text-value">{{user?.email}}</span>
    </div>
    <div class="col-md-6">
      <span class="title-header"><i class="fa fa-phone"></i>: </span><span class="text-value">{{user?.phone}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-app">
        <i (click)="openEditModal(user)" class="fas fa-edit"></i> Edit
      </a>
      <a class="btn btn-app">
        <i (click)="openChangePasswordModal(user)" class="fas fa-key"></i> Password
      </a>
    </div>
  </div>
</div>

  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit user</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="editUserForm" [formGroup]="editUserForm" (ngSubmit)="updateUser()" novalidate>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="name" name="name" placeholder="Name" [ngClass]="submittedEdit && e.name.errors ? 'is-invalid' : ''"/>
                  <span *ngIf="e.name.errors?.required" class="error invalid-feedback">Name is required</span>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control"  formControlName="surname" name="surname" placeholder="Surname" [ngClass]="submittedEdit && e.surname.errors ? 'is-invalid' : ''"/>
                  <span *ngIf="e.surname.errors?.required" class="error invalid-feedback">Surname is required</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" readonly name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" formControlName="email" name="email" placeholder="E-mail" [ngClass]="submittedEdit && e.email?.errors ? 'is-invalid' : ''"/>
                <span *ngIf="e.email.errors?.required" class="error invalid-feedback">E-mail is required</span>
                <span *ngIf="e.email.errors?.email" class="error invalid-feedback">Invalid E-mail pattern</span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="Phone"/>
              </div>
              <!-- /.input group -->
            </div>
            <div class="form-group">
              <div class="row" [hidden]="true">
                <div class="col-md-6" style="text-align: center;">
                  <div class="checkbox icheck-carrot">
                    <input type="checkbox" class="input-checkbox" formControlName="isAdmin" id="admin" name="admin">
                    <label for="admin">ADMIN</label>
                  </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                  <div class="checkbox icheck-carrot">
                    <input type="checkbox" class="input-checkbox" formControlName="isMod" id="mod"  name="mod">
                    <label for="mod">MOD</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Change password</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" readonly name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password" [ngClass]="submittedPasswordChange && g.password?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="g.password.errors?.required" class="error invalid-feedback">Password is required</span>
              <span *ngIf="g.password.errors?.minlength" class="error invalid-feedback">Password can't be shorter than 6 characters</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" [ngClass]="submittedPasswordChange && g.confirmPassword?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="g.confirmPassword.errors?.required" class="error invalid-feedback">Confirm Password is required</span>
              <span *ngIf="g.confirmPassword.errors?.mustMatch" class="error invalid-feedback">Passwords didn't match</span>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-warning">Change password</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
