<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{'Profile.Profile' | translate}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'../dashboard'">{{'Global.Home' | translate}}</a></li>
          <li class="breadcrumb-item active">{{'Profile.Profile' | translate}}</li>
        </ol>
      </div>
    </div>
  </div>
<div class="col-md-10 center-block">

  <input class="hidden-input" type="file" (change)="fileSelected($event)" #fileInput>
  <div class="container">
      <img id="user-image" src="{{imageURL}}">
    <div class="middle">
      <div (click)="fileInput.click()" class="upload-button"><i class="fa fa-upload"></i></div>
    </div>
  </div>
  <div class="row">
    <div id="fullname">
      <h3 class="title">{{user?.name}} {{user?.surname}}</h3>
      <h6>{{user?.username}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header" style="background-color: #fd7e14 !important;">
          <h3 class="card-title"><i class="fas fa-user"></i> {{'Profile.UserInformations' | translate}}</h3>
        </div>
        <div class="card-body">
          <p class="text-muted text-center"></p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <span class="title-header"><i style="font-size: 20px;" class="fa fa-envelope"></i> E-mail: </span><span class="text-value">{{user?.email}}</span>
            </li>
            <li class="list-group-item">
              <span class="title-header"><i style="font-size: 20px;" class="fa fa-phone"></i> {{'Users.Phone' | translate}}: </span><span class="text-value">{{user?.phone}}</span>
            </li>
          </ul>
          <div class="row">
            <div class="col-md-12 text-center">
              <a class="btn btn-app">
                <i (click)="openEditModal(user)" class="fas fa-edit"></i> {{'Global.Edit' | translate}}
              </a>
              <a class="btn btn-app">
                <i (click)="openChangePasswordModal(user)" class="fas fa-key"></i> {{'Global.Password' | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header" style="background-color: #fd7e14 !important;">
          <h3 class="card-title"><i class="fas fa-cogs"></i> {{'Profile.AccountSettings' | translate}}</h3>
        </div>
        <div class="card-body">
          <p class="text-muted text-center"></p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <span class="title-header"><i style="font-size: 20px;" class="fas fa-language"></i> {{'Users.Language' | translate}}: </span><span class="text-value">{{user?.userSettings.language}}</span>
            </li>
            <li class="list-group-item">
              <span class="title-header"><i style="font-size: 20px;" class="fas fa-sort-amount-up"></i> {{'Users.ItemsPerPage' | translate}}: </span><span class="text-value">{{user?.userSettings.items_on_page}}</span>
            </li>
            <li class="list-group-item">
              <span class="title-header"><i style="font-size: 20px;" class="fas fa-chart-area"></i> {{'Users.ViewType' | translate}}: </span><span class="text-value">{{user?.userSettings.viewType | translate}}</span>
            </li>
          </ul>
          <div class="row">
            <div class="col-md-12 text-center">
              <a class="btn btn-app">
                <i (click)="openSettingsModal(user)" class="fas fa-cog"></i> {{'Global.Settings' | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{'Users.EditUser' | translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="editUserForm" [formGroup]="editUserForm" (ngSubmit)="updateUser()" novalidate>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="name" name="name" placeholder="{{'Users.Name' | translate}}" [ngClass]="submittedEdit && e.name.errors ? 'is-invalid' : ''"/>
                  <span *ngIf="e.name.errors?.required" class="error invalid-feedback">{{'Users.NameRequired' | translate}}</span>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control"  formControlName="surname" name="surname" placeholder="{{'Users.Surname' | translate}}" [ngClass]="submittedEdit && e.surname.errors ? 'is-invalid' : ''"/>
                  <span *ngIf="e.surname.errors?.required" class="error invalid-feedback">{{'Users.SurnameRequired' | translate}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" readonly name="username" placeholder="{{'Users.Username' | translate}}"/>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" formControlName="email" name="email" placeholder="E-mail" [ngClass]="submittedEdit && e.email?.errors ? 'is-invalid' : ''"/>
                <span *ngIf="e.email.errors?.required" class="error invalid-feedback">{{'Users.EmailRequired' | translate}}</span>
                <span *ngIf="e.email.errors?.email" class="error invalid-feedback">{{'Users.EmailPatternInvalid' | translate}}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="{{'Users.Phone' | translate}}"/>
              </div>
              <!-- /.input group -->
            </div>
            <div class="form-group">
              <div class="row" [hidden]="true">
                <div class="col-md-6" style="text-align: center;">
                  <div class="checkbox icheck-carrot">
                    <input type="checkbox" class="input-checkbox" formControlName="isAdmin" id="admin" name="admin">
                    <label for="admin">ADMIN</label>
                  </div>
                </div>
                <div class="col-md-6" style="text-align: center;">
                  <div class="checkbox icheck-carrot">
                    <input type="checkbox" class="input-checkbox" formControlName="isMod" id="mod"  name="mod">
                    <label for="mod">MOD</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success">{{'Global.Save' | translate}}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">{{'Global.Cancel' | translate}}</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="editSettingsModal" tabindex="-1" role="dialog" aria-labelledby="editSettingsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{'Users.EditSettings' | translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="editSettingsForm" [formGroup]="editSettingsForm" (ngSubmit)="updateSettings()" novalidate>
            <div class="form-group">
              <label for="languageSelect">{{'Users.Language' | translate}}</label>
              <select class="custom-select rounded-0" id="languageSelect" formControlName="language" name="language">
                  <option *ngFor="let lang of languages" [value]="lang">{{lang}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="itemsPerPage">{{'Users.ItemsPerPage' | translate}}</label>
              <input type="number"  min="5" max="100" step="5" id="itemsPerPage" class="form-control" formControlName="itemsPerPage" name="itemsPerPage" placeholder="{{'Users.ItemsPerPage' | translate}}" [ngClass]="submittedEditSettings && f.itemsPerPage.errors ? 'is-invalid' : ''"/>
              <span *ngIf="f.itemsPerPage.errors?.required" class="error invalid-feedback">{{'Users.itemsPerPageRequired' | translate}}</span>
            </div>
            <div class="form-group">
              <label for="viewTypeSelect">{{'Users.ViewType' | translate}}</label>
              <select class="custom-select rounded-0" id="viewTypeSelect" formControlName="viewType" name="viewType">
                <option *ngFor="let viewType of viewTypes" [value]="viewType">{{viewType | translate}}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success">{{'Global.Save' | translate}}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">{{'Global.Cancel' | translate}}</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{'Global.ChangePassword' | translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" readonly name="username" placeholder="{{'Global.Username' | translate}}"/>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="{{'Global.Password' | translate}}" [ngClass]="submittedPasswordChange && g.password?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="g.password.errors?.required" class="error invalid-feedback">{{'Global.PasswordIsRequired' | translate}}</span>
              <span *ngIf="g.password.errors?.minlength" class="error invalid-feedback">{{'Global.PasswordToShort' | translate}}</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="{{'Global.ConfirmPassword' | translate}}" [ngClass]="submittedPasswordChange && g.confirmPassword?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="g.confirmPassword.errors?.required" class="error invalid-feedback">{{'Global.ConfirmPasswordIsRequired' | translate}}</span>
              <span *ngIf="g.confirmPassword.errors?.mustMatch" class="error invalid-feedback">{{'Global.PasswordsNotMatch' | translate}}</span>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-warning">{{'Global.ChangePassword' | translate}}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">{{'Global.Cancel' | translate}}</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
