<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'../dashboard'">CPMA</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-component-spinner></app-component-spinner>
</ng-template>
<section class="content" *ngIf="loadedData; else loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{userCount}}</h3>
            <p>Users</p>
          </div>
          <div class="icon">
            <i class="ion ion-person"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{deviceCount}}</h3>
            <p>Devices</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-phone-portrait"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{batteryGood}}</h3>
            <p>Good Battery</p>
          </div>
          <div class="icon">
            <i class="ion ion-battery-full"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{batteryMedium}}</h3>
            <p>Medium Battery</p>
          </div>
          <div class="icon">
            <i class="ion ion-battery-half"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{batteryLow}}</h3>
            <p>Low Battery</p>
          </div>
          <div class="icon">
            <i class="ion ion-battery-low"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-map></app-map>
</section>
