<div class="main-page">
    <div class="col-lg-4 col-md-4 col-sm-12 login-page-block">
      <div class="vertical-center">
        <div class="container">
          <div class="text-center" id="login-logo">
            <img style="width: 100px" src="/assets/img/logo.png">
          </div>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
            <div class="form-group">
              <input type="login" class="form-control" id="username" name="username" placeholder="Login" [(ngModel)]="form.username" required #username="ngModel" [ngClass]="f.submitted && username?.invalid ? 'is-invalid' : ''"/>
              <span *ngIf="f.submitted && username.invalid" class="error invalid-feedback">Login is required</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="form.password" required #password="ngModel" [ngClass]="f.submitted && password?.invalid ? 'is-invalid' : ''"/>
              <span *ngIf="password.errors?.required" class="error invalid-feedback">Password is required</span>
              <span *ngIf="password.errors?.minlength" class="error invalid-feedback">Password can't be shorter than 6 characters</span>
            </div>
            <button class="btn btn-secondary btn-lg btn-block">Login</button>
         </form>
          <div id="login-copyrights">©2020 Patryk Duduś</div>
        </div>

      </div>
    </div>
    <div class="col-lg-8 col-md-8 login-page-block" id="login-right-panel"></div>
</div>


