<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{'Global.Users' | translate}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="'../dashboard'">{{'Global.Home' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'Global.Users' | translate}}</li>
          </ol>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-12 text-right">
          <ul class="list-group list-group-horizontal-sm float-sm-right">
            <li class="list-group-item" [ngClass]="{'active': viewType === 'VIEW_LIST'}" (click)="changeViewType('VIEW_LIST')"><i class="fas fa-list"></i></li>
            <li class="list-group-item" [ngClass]="{'active': viewType === 'VIEW_TABLE'}" (click)="changeViewType('VIEW_TABLE')"><i class="fas fa-table"></i></li>
          </ul>
        </div>
      </div>
    </div>
</div>
<ng-template #loading>
  <app-component-spinner></app-component-spinner>
</ng-template>
<div style="padding: 30px" class="table-responsive" *ngIf="loadedData; else loading">
  <div class="button-section">
    <button class="btn" (click)="openAddModal()"><i class="fas fa-plus"></i> {{'Users.AddUser' | translate}}</button>
    <button class="btn" (click)="getReport()"><i class="far fa-file-pdf"></i> {{'Users.GetReport' | translate}}</button>
  </div>
  <table class="table table-striped table-hover" *ngIf="viewType === 'VIEW_TABLE'">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{'Global.Username' | translate}}</th>
      <th scope="col">{{'Users.Name' | translate}}</th>
      <th scope="col">{{'Users.Surname' | translate}}</th>
      <th scope="col">E-Mail</th>
      <th scope="col">{{'Users.Phone' | translate}}</th>
      <th scope="col" style="text-align: center;">{{'Users.Roles' | translate}}</th>
      <th scope="col" style="text-align: center;">{{'Global.Edit' | translate}}</th>
      <th scope="col" style="text-align: center;">{{'Global.Password' | translate}}</th>
      <th scope="col" style="text-align: center;">{{'Global.Delete' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index" [attr.id]="user.id"> <!--each row id == id-->
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td style="text-align: center;"><span *ngFor="let role of user.roles">
          <i *ngIf="role.name == 'ROLE_ADMIN'" class="fas fa-crown"></i>
          <i *ngIf="role.name == 'ROLE_MODERATOR'" class="fas fa-wrench"></i>
        </span>
      </td>
      <td style="text-align: center;"><button id="edit" (click)="openEditModal(user)" class="btn btn-light"><i class="fas fa-edit"></i></button></td>
      <td style="text-align: center;"><button id="changePassword" (click)="openChangePasswordModal(user)" class="btn btn-light"><i class="fas fa-key"></i></button></td>
      <td style="text-align: center;"><button id="remove" (click)="openDeleteModal(user)" class="btn btn-light"><i class="fa fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
  <div class="col-md-12" *ngIf="viewType == 'VIEW_LIST'">
    <div class="col-md-3" style="float: left;" *ngFor="let user of users| paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index" [attr.id]="user.id">
      <div class="card card-primary card-outline" style="border-top-color: #fd7e14 !important;">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="img-fluid img-circle" style="width: 200px; border: 3px solid #adb5bd; margin: 0 auto; padding: 3px;" src="data:{{user.imageModel.type}};base64,{{user.imageModel.pic}}" alt="User profile picture">
          </div>

          <h3 class="profile-username text-center">{{user.username}}</h3>

          <p class="text-muted text-center">{{user.name}} {{user.surname}}</p>

          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>E-Mail</b> <a class="float-right">{{ user.email }}</a>
            </li>
            <li class="list-group-item">
              <b>{{'Users.Phone' | translate}}</b> <a class="float-right">{{ user.phone }}</a>
            </li>
            <li class="list-group-item">
                    <b>{{'Users.Roles' | translate}}</b> <a class="float-right"><span *ngFor="let role of user.roles">
                        <i *ngIf="role.name == 'ROLE_ADMIN'" class="fas fa-crown"></i>
                        <i *ngIf="role.name == 'ROLE_MODERATOR'" class="fas fa-wrench"></i>
                    </span></a>
            </li>
            <li class="list-group-item text-center">
              <div class="col-md-4 float-left">
                <b>{{'Global.Edit' | translate}}</b><br />
                <button id="editList" (click)="openEditModal(user)" class="btn btn-light"><i class="fas fa-edit"></i></button>
              </div>
              <div class="col-md-4 float-left">
                <b>{{'Global.Password' | translate}}</b><br />
                <button id="changePasswordList" (click)="openChangePasswordModal(user)" class="btn btn-light"><i class="fas fa-key"></i></button>
              </div>
              <div class="col-md-4 float-left">
                <b>{{'Global.Delete' | translate}}</b><br />
                <button id="removeList" (click)="openDeleteModal(user)" class="btn btn-light"><i class="fa fa-trash"></i></button>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
  <div class="text-center" style="overflow: hidden; width: 100%;">
    <pagination-controls
      class="custom-pagination"
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>



<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Users.DeleteUser' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {{'Users.AskDeleteUser' | translate}} {{user?.name}} {{user?.surname}}?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deleteRow(user.id)" id="delete-button" class="btn btn-outline-danger">{{'Global.Delete' | translate}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Global.Cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Users.AddUser' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form name="addUserForm" [formGroup]="addUserForm" (ngSubmit)="addUser()" novalidate>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" id="name" formControlName="name" name="name" placeholder="{{'Users.Name' | translate}}" [ngClass]="submittedAdd && f.name.errors ? 'is-invalid' : ''"/>
                <span *ngIf="f.name.errors?.required" class="error invalid-feedback">{{'Users.NameRequired' | translate}}</span>
               </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="surname" formControlName="surname" name="surname" placeholder="{{'Users.Surname' | translate}}" [ngClass]="submittedAdd && f.surname.errors ? 'is-invalid' : ''"/>
                <span *ngIf="f.surname.errors?.required" class="error invalid-feedback">{{'Users.SurnameRequired' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="username" formControlName="username" name="username" placeholder="{{'Global.Username' | translate}}" [ngClass]="submittedAdd && f.username?.errors ? 'is-invalid' : ''"/>
            <span *ngIf="f.username.errors?.required" class="error invalid-feedback">{{'Global.UsernameRequired' | translate}}</span>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" id="email" formControlName="email" name="email" placeholder="E-mail" [ngClass]="submittedAdd && f.email?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="f.email.errors?.required" class="error invalid-feedback">{{'Users.EmailRequired' | translate}}</span>
              <span *ngIf="f.email.errors?.email" class="error invalid-feedback">{{'Users.EmailPatternInvalid' | translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
              </div>
              <input type="text" class="form-control" id="phone" formControlName="phone" name="phone" placeholder="{{'Users.Phone' | translate}}"/>
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" formControlName="password" name="password" placeholder="{{'Global.Password' | translate}}" [ngClass]="submittedAdd && f.password?.errors ? 'is-invalid' : ''"/>
            <span *ngIf="f.password.errors?.required" class="error invalid-feedback">{{'Global.PasswordRequired' | translate}}</span>
            <span *ngIf="f.password.errors?.minlength" class="error invalid-feedback">{{'Global.PasswordToShort' | translate}}</span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword" placeholder="{{'Global.ConfirmPassword' | translate}}" [ngClass]="submittedAdd && f.confirmPassword?.errors ? 'is-invalid' : ''"/>
            <span *ngIf="f.confirmPassword.errors?.required" class="error invalid-feedback">{{'Global.ConfirmPasswordIsRequired' | translate}}</span>
            <span *ngIf="f.confirmPassword.errors?.mustMatch" class="error invalid-feedback">{{'Global.PasswordsNotMatch' | translate}}</span>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6" style="text-align: center;">
                <div class="checkbox icheck-carrot">
                  <input type="checkbox" formControlName="isAdmin" id="admin" name="admin">
                  <label for="admin">ADMIN</label>
                </div>
              </div>
              <div class="col-md-6" style="text-align: center;">
                <div class="checkbox icheck-carrot">
                  <input type="checkbox" formControlName="isMod" id="mod"  name="mod">
                  <label for="mod">MOD</label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block">{{'Global.Add' | translate}}</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Users.EditUser' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form name="editUserForm" [formGroup]="editUserForm" (ngSubmit)="updateUser()" novalidate>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" formControlName="name" name="name" placeholder="{{'Users.Name' | translate}}" [ngClass]="submittedEdit && e.name.errors ? 'is-invalid' : ''"/>
                <span *ngIf="e.name.errors?.required" class="error invalid-feedback">{{'Users.NameRequired' | translate}}</span>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control"  formControlName="surname" name="surname" placeholder="{{'Users.Surname' | translate}}" [ngClass]="submittedEdit && e.surname.errors ? 'is-invalid' : ''"/>
                <span *ngIf="e.surname.errors?.required" class="error invalid-feedback">{{'Users.SurnameRequired' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="username" readonly name="username" placeholder="{{'Global.Username' | translate}}"/>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" formControlName="email" name="email" placeholder="E-mail" [ngClass]="submittedEdit && e.email?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="e.email.errors?.required" class="error invalid-feedback">{{'Users.EmailRequired' | translate}}</span>
              <span *ngIf="e.email.errors?.email" class="error invalid-feedback">{{'Users.EmailPatternInvalid' | translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="{{'Users.Phone' | translate}}"/>
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6" style="text-align: center;">
                <div class="checkbox icheck-carrot">
                  <input type="checkbox" class="input-checkbox" formControlName="isAdmin2" id="admin2" name="admin2">
                  <label for="admin2">ADMIN</label>
                </div>
              </div>
              <div class="col-md-6" style="text-align: center;">
                <div class="checkbox icheck-carrot">
                  <input type="checkbox" class="input-checkbox" formControlName="isMod2" id="mod2"  name="mod2">
                  <label for="mod2">MOD</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success">{{'Global.Save' | translate}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Global.Cancel' | translate}}</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{'Global.ChangePassword' | translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" readonly name="username" placeholder="{{'Global.Username' | translate}}"/>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="{{'Global.Password' | translate}}" [ngClass]="submittedPasswordChange && g.password?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="g.password.errors?.required" class="error invalid-feedback">{{'Global.PasswordIsRequired' | translate}}</span>
              <span *ngIf="g.password.errors?.minlength" class="error invalid-feedback">{{'Global.PasswordToShort' | translate}}</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="{{'Global.ConfirmPassword' | translate}}" [ngClass]="submittedPasswordChange && g.confirmPassword?.errors ? 'is-invalid' : ''"/>
              <span *ngIf="g.confirmPassword.errors?.required" class="error invalid-feedback">{{'Global.ConfirmPasswordIsRequired' | translate}}</span>
              <span *ngIf="g.confirmPassword.errors?.mustMatch" class="error invalid-feedback">{{'Global.PasswordsNotMatch' | translate}}</span>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-warning">{{'Global.ChangePassword' | translate}}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">{{'Global.Cancel' | translate}}</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

