<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-orange elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="'dashboard'" class="brand-link">
    <img src="assets/img/logo.png" alt="{{'SideNav.CPMALogoAlt' | translate}}" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">CPMA</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
 <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a [routerLink]="'dashboard'"  routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              {{"SideNav.Menu.Dashboard" | translate}}
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'devices'" routerLinkActive="active"  class="nav-link">
            <i class="nav-icon fas fa-mobile-alt"></i>
            <p>
              {{"Global.Devices" | translate}}
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>
              {{"SideNav.Menu.Administration" | translate}}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="'users'" routerLinkActive="active"  class="nav-link">
                <i class="fas fa-users nav-icon"></i>
                <p> {{"Global.Users" | translate}}</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
